@{
    ViewBag.Title = "about";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">confessr is a place to get whatever you need off your chest. Your confessions are anonymous, 
    and this website does not track any identifying information about those who use it, though we do save
    cookies to your machine to remember your @Html.ActionLink("confessional", "Index", "Confessions") handle.</p>


