@{
    ViewBag.Title = "about";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">
    Welcome to an anonymous internet confessional.  Only people viewing the page when you submit 
    something will see what you've said.  But, they will see it in real-time without need to refresh.
    Navigating away from the page (or refreshing) will reset your view.</p>
<p class="lead">These confessions are anonymous, and - at this time - are not saved or archived 
    (though they will be at a later date).</p>
