@{
    ViewBag.Title = "about";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">confessr is a place to get whatever you need off your chest. Your confessions are anonymous, 
    and this website does not track any identifying information about those who use it, though we do save
    cookies to your machine to remember your @Html.ActionLink("confessional", "Index", "Confessions") handle.</p>


Terms of Use: <br/>Pieces of this website are licensed under a Creative Commons Attribution 3.0 Generic License.  
<div><img src="~/Images/emptyStar16px.png" /> and <img src="~/Images/link.png" /> icons made by 
    <a href="http://icon-works.com" title="Icon Works">Icon Works</a> from 
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under 
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>

<div>
    <img src="~/Images/more6.png" /> and <img src="~/Images/share21.png" /> icons made by
    <a href="http://www.icons8.com" title="Icons8">Icons8</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>

<div>
    <img src="~/Images/speechbubble23.png" /> icon made by
    <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>

<div>
    <img src="~/Images/forward18.png" /> icon made by
    <a href="http://www.google.com" title="Google">Google</a> from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
</div>