@{
    ViewBag.Title = "home";
}

<div class="jumbotron">
    <h1>confessr</h1>
    <p class="lead"><a href="http://www.merriam-webster.com/dictionary/secret">Secret</a><br />
        se·cret<br />
        \ˈsēkrit\ <br />
    </p>
    <p class="lead">As a noun with several definitions, the word secret is a nuanced concept which humanity has struggled with.  
        We both need secrets, and need to reveal secrets.  We shelter the word from our innermost thoughts for fear of rejection 
        or to avoid hurting those we love, but secrets can take a psychological and even physiological toll.
    </p>
    <p class="lead"><a href="https://www.google.com/search?&q=are%20secrets%20bad&oq=are%20secrets%20bad">Secrets can weigh you down.</a>
        Keeping them can cause stress and anxiety, with potentially serious consequences over a prolonged period 
        of time due to elevated <a href="http://www.forbes.com/sites/nextavenue/2013/10/24/keeping-secrets-can-be-hazardous-to-your-health/">cortisol</a>.
    </p>
    <p class="lead">Welcome to confessr.  Get whatever you need off your chest, anonymously.</p>
    <p class="lead">Your confessions are anonymous, and this website does not track those who use it.</p>
    <p>@Html.ActionLink("Confess >>", "Confessor", "Home", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Confess &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@